<div class="gokwik-checkout">
  <button type="button" class="cart__checkout-button button" onclick="initiateLogin()">
    <span class="btn-text">
      <span>CHECKOUT</span>
    </span>
  </button>
</div>
