{% comment %}
  Renders a Express Shipping Timeline Banner

  Accepts:
  Usage:
  {% render 'express-shipping-timeline', product: product %}
{% endcomment %}
{{ 'component-product-information-card.css' | asset_url | stylesheet_tag }}

<div class="product-information-card">
  <div class="pic-top-row">
    <img
      src="{{ block.settings.icon | image_url: width:25 }}"
      width="25"
      height="25"
      class="pic-icon"
      style="width:22px"
    >
    <div class="h4 pic-title">{{ block.settings.title }}</div>
  </div>
  <div class="pic-content-container">
    <div class="rte pic-content">
      {{ block.settings.content }}
    </div>
  </div>
</div>
