.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  width: 100%;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.5 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  padding-bottom: 4rem;
}

.article-hero {
  position: relative;
}

.article-hero__media {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  aspect-ratio: var(--article-hero-ratio-desktop);
}

.article-hero__media.media {
  height: auto;
}

.article-hero__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: opacity(0.95) brightness(0.95);
}

.article-hero__title-wrapper {
  margin: 0 auto 2rem;
  max-width: var(--page-width);
  padding: 0.75rem 1.5rem;
}

.article-hero__title {
  margin: 0;
  color: rgb(var(--color-foreground));
  letter-spacing: -1px;
}

.article-hero__meta {
  color: rgb(var(--color-foreground));
}

.article-hero__date {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .article-hero__title-wrapper {
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    margin: 0;
    padding: 0 3rem 0 0;
    max-width: calc(var(--page-width) - 6rem);
    z-index: 2;
  }

  .article-hero__title,
  .article-hero__meta {
    color: rgb(var(--color-foreground));
  }

  .article-hero__date {
    padding: 0 0px 40px 40px;
    color: rgba(var(--color-foreground), 0.85);
  }

  .article-hero__title {
    font-size: 50px;
    font-weight: 500;
    padding: 0 0px 0px 40px;
    max-width: 500px;
  }
}

@media screen and (max-width: 749px) {
  .article-hero__title {
    padding-top: 30px;
  }

  .article-hero__image {
    filter: opacity(1) brightness(1);
  }
}

@media screen and (max-width: 749px) {
  .article-hero__media {
    aspect-ratio: var(--article-hero-ratio-mobile);
  }
}
